/* Search */
.search {
  padding: 0 1rem;
}

/* Cards */
.cards {
  margin: 0 auto;
  padding: 2em 0rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 2rem;
}
