/* ROOT */
:root {
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(207, 26%, 17%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --dark-mode-text: hsl(0, 0%, 100%);
}

/* FOOTER */

.footer {
  width: 100%;
  height: 3rem;
  padding: 0 16px;
}

.footer--light {
  background-color: #fff;
  color: var(--light-mode-text);
}

.footer--dark {
  background-color: var(--dark-mode-elements);
  color: var(--dark-mode-text);
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
